/* Styling the website "Startup.com */

@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Defining default properties */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    font-family: var(--All-fonts);
}

:root{
    --All-fonts: 'DM Sans', sans-serif;
    --Primary-colr: #356DFF;
    --Secondary-color: #0B0D39;
    --back-color: #F2FBFC; 
}

h1{
    font-size: 4rem;
    font-weight: bold;
    color: var(--Secondary-color);
    line-height: 70px;
}

h1 span{
    color: var(--Primary-colr);
}

h2{
    font-size: 1.3rem;
    color: black;
}

p,a{
    font-size: 1rem;
    color: black;
}

/* Styling header */

header{
    padding: 0 250px;
    position: sticky;
    top: 20px;
    z-index: 100;
}

nav{
    width: 100%;
    height: 5rem;
    border: 0;
    border-radius: 50px;
    box-shadow: 0px 15px 50px lightgray;
    background-color: white;
    margin-top: 20px;
    padding: 10px 30px;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: center;
}

#nav-left{
    width: 70%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
}

#nav-left a img{
    height: 30px;
}

#nav-left ul li{
    list-style: none;
    display: inline-block;
    margin-left: 50px;
    padding-top: 5px;
    height: 30px;
}

#nav-left ul li a{
    width: 60px;
    box-sizing: border-box;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}

.link-click::after{
    content: "";
    width: 5px;
    height: 5px;
    background-color: var(--Primary-colr);
    display: block;
    border: 0;
    border-radius: 50%;
    position: relative;
    left: 50%;
}

.link-click{
    font-weight: bold;
}

#nav-right{
    width: 30%;
    text-align: right;
    font-size: 18px;
}

#nav-right i{
    width: 30px;
    height: 30px;
    padding: 5px;
    margin-right: 15px;
    display: inline-block;
    color: var(--Primary-colr);
    border-radius: 50%;
    text-align: center;
    box-shadow: 0px 3px 5px #a2bcfc;

    transition: all 0.3s linear;
}

#nav-right i:hover{
    background-color: var(--Primary-colr);
    color: white;
    transform: scale(1.3);
}

/* Styling Landing page */
.landing-page{
    width: 100%;
    height: 90vh;
    padding: 0 270px;
    display: flex;
    flex-flow: row wrap;
}

#landing-left{
    width: 50%;
    padding-top: 200px;
    padding-left: 30px;
}

#landing-left p{
    width: 470px;
    color: rgb(46, 46, 46);
    line-height: 25px;
    margin-bottom: 25px;
}

button, #form form a{
    width: 120px;
    height: 40px;
    border-radius: 30px 30px 30px 10px;
}

.button1{
    border: 0;
    margin-right: 20px;
    background-color: var(--Primary-colr);
    color: white;
}

.button2{
    margin-right: 20px;
    background-color: white;
    border: 1px solid var(--Secondary-color);
    color: var(--Secondary-color);
}

#landing-right{
    width: 50%;
    height: 1000px;
    position: relative;
    padding-top: 150px;
}

#circle{
    width: 450px;
    height: 450px;
    background-color: #1e90ff;
    opacity: 40%;
    border: 0px;
    border-radius: 50%;
    margin-left: 200px;
}

#rocketman{
    position: absolute;
    width: 400px;
    animation: flyrocket 2s both cubic-bezier(0.075, 0.82, 0.165, 1);
}

@keyframes flyrocket {
    from{
        width: 0px;
        bottom: 0px;
    }

    to{
        width: 800px;
        bottom: 250px;
        left: -30px;
    }
}


/* Styling Services Seciton */
#services{
    padding: 100px 250px;
}

.ser-container{
    width: 100%;
    height: auto;
    padding: 70px 0 110px 0;
    background-color: var(--back-color);
    border: 0;
    border-radius: 40px;
}

.ser-container h1{
    text-align: center;
    font-size: 3rem;
    font-weight: bold;
    margin-bottom: 30px;
}

.ser-container #ser-cards{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;

}

.cards{
    width: 18%;
    height: 300px;
    margin-right: 30px;
    
}

.cards:last-child{
    margin-right: 0;
}

.cards:hover .service{
    transform: scale(1.1);
}

.cards h2, .cards p{
    text-align: center;
    margin: 20px 0;
}

.service{
    width: 200px;
    height: 200px;
    display: block;
    margin: auto;
    transition: transform 200ms linear;
}

.cards svg::before{
  content: 'hello';
  display: inline-block;
  width: 200px;
  height: 200px;
  background: #9B191D;
}

.branding-svg {
    margin-top: -20px;
    margin-bottom: 40px;
}

/* Styling the contact section */
#contact{
    padding: 100px 250px;
}

#contact h1{
    font-size: 3rem;
    text-align: center;
}

#form-container{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
}

#form, #image{
    width: 45%;
    height: 500px;
    margin-top: 70px;
}

#image figure{
    width: 450px;
    height: 350px;
    position: relative;
    border-radius: 20px;
    background-color: var(--back-color);
    z-index: -1;
}

#image img{
    top: -350px;
    left: -100px;
    position: relative;
    width: 700px;
    transform: rotate(15deg);
    display: block;
    opacity: 100%;
}

#form form input, #form form textarea{
    outline: none;
    border: 1px solid lightgray;
    border-radius: 20px 20px 20px 5px;
    padding: 10px 15px;
}

#form form input{
    width: 300px;
    height: 40px;
}

#form form textarea{
    width: 400px;
    height: 200px;
    resize: none;
}

label{
    position: relative;
    left: 10px;
    top: -5px;
    font-size: 0.8rem;
    color: gray;
}

input:focus, textarea:focus{
    border-color: skyblue !important;
    background-color: var(--back-color);
}

#form form a {
    padding: 10px;
    cursor: pointer;
}

/* Styling the footer */
.startup-footer{
    background-color: var(--Primary-colr);
    color: white;
    width: 100%;
    height: 90vh;
    padding: 100px 350px;

    display: flex;
    flex-flow: column nowrap;
}

.footer-content{
    display:flex;
    flex-flow: row nowrap;
}

.foot-left{
    width: 20%;
    height: 40vh;
}

.foot-left img{
    width: 200px;
}

.foot-right{
    display: flex;
    flex-flow: row nowrap;
    width: 70%;
    height: 40vh;
}

.footer-social{
    margin-top: 20px;
    padding-left: 70px;
}

.footer-social h2{
    font-size: 1rem;
    font-weight: normal;
    margin-bottom: 10px;
}

.footer-social a i {
    border: 1px solid white;
    padding-top: 8px;
    font-size: 15px;
    width: 35px;
    height: 35px;
    text-align: center;
    border-radius: 50%;
    margin-right: 10px;
    color: white;
    text-decoration: none;
}

.foot-right ul{
    list-style: none;
    width: 33.33%;
    margin-top: 20px;
    margin-left: 100px;
}

.foot-right ul h2{
    font-weight: normal;
    margin-bottom: 30px;
}

.foot-right ul li{
    margin-bottom: 10px;
    margin-left: 10px;
}

.foot-right ul li a{
    text-decoration: none;
    color: white;
}

#foot-buttons{
    height: 10vh;
    margin-bottom: 30px;
    
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
}

#foot-buttons button{
    border: 1px solid white;
    color: white;
    background-color: var(--Primary-colr);
    margin: 20px;
}

hr{
    color: white;
}

.copyright{
    text-align: center;
    margin-top: 25px;
}

.copyright p{
    color: white;
    margin-bottom: 10px;
}

.copyright a{
    color: white;
    text-decoration: none;
}

/* Styling the side menu */
#sidemenu{
    position: fixed;
    top: 50%;
    right: 0px;
    width: 50px;
    transform: translateY(-50%);
    background-color: white;
    border: 0;
    border-radius: 10px 0 0 10px;
    padding: 10px;
    padding-left: 15px;
    box-shadow: -5px 5px 10px lightgray;
    
}

#sidemenu ul{
    list-style: none;
}

#sidemenu ul li{
    margin: 20px 0;
}

#sidemenu ul li a i{
    width: 30px;
    height: 30px;
    font-size: 22px;
    color: var(--Primary-colr);
    transition: transform 0.15s linear;
}

#sidemenu ul li a i:hover{
    color: #0b48e2;
    transform: scale(1.2);
}

/* Styling the about section */

#about{
    padding: 100px 300px;
}

#about-head{
    text-align: center;
    font-size: 3rem;
    margin-bottom: 50px;
}

#cards-container{
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: baseline;
    position: relative;
}

.about-card{
    width: 30%;
    height: 450px;
    padding: 30px 50px;
    background-color: white;
    box-shadow: 3px 4px 5px rgb(241, 241, 241), -3px -2px 5px rgb(241, 241, 241);
    border: 0;
    border-radius: 20px;
    overflow: hidden;  
}

#mission{
    transition: height 1s;  
}

#mission:hover{
    height: 850px;
} 

.about-card h2{
    text-align: center;
}

#mission>p{
    text-align: justify;
    padding-top: 20px;
    margin-bottom: 40px;
}

#managers img, #directors img{
    width: 70%;
    height: auto;
    display: block;
    margin: auto;
    clip-path: circle(50% at 50% 50%);
    margin-top: 30px;
    margin-bottom: 30px;
}

#managers p, #directors p{
    text-align: center;
}

.profilelinks {
    width: fit-content;
    height: 30px;
    position: relative;
    margin: 0 auto;
    margin-top: 10px;
    margin-bottom: 55px;
}

#managers, #directors{
    transition: height 1s ease;
}

#directors:hover{
    height: 1250px;
}

#managers:hover{
    height: 1200px;
}

/* Alert Message Styling*/
#customalert{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    background-color: rgba(46, 46, 46, 0.3);
    display: none;
}

#alert{
    width: 400px;
    height: 150px;
    background: white;
    border: 0px;
    border-radius: 10px;
    text-align: center;
    padding: 10px;
    box-shadow: 3px 4px 5px rgb(182, 182, 182);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#alert p{
    margin: 20px 0;
}

#alert button{
    height: 35px;
    width: 80px;
    margin-right: 0;
    cursor: pointer;
}

/* Media Queries */

/* For mobiles */
@media screen and (max-width: 620px) and (min-width: 350px){
    header{
        padding: 0 10px;
    }

    #nav-left{
        width: 100%;
        justify-content: space-between;
    }

    #nav-left i{
        font-size: 25px;
        color: var(--Primary-colr);
    }

    .navigation_before{
        position: fixed;
        top: 15%;
        left: 0px;
        width: 0px;
        height: 200px;
        z-index: 200;
        border: 0px;
        border-radius: 0px 10px 10px 0px;
        transition: all 1s ease;
    }

    .navigation_after{
        background-color: white;
        box-shadow: 2px 2px 3px lightgray;
        width: 150px;
        text-decoration: none;
    }

    .navigation_after ul li {
        width: fit-content;
        list-style: none;
        margin: 20px 30px 20px 40px;

    }

    .navigation_after ul a{
        text-decoration: none;
        color: var(--Primary-colr);
    }

    .landing-page{
        padding: 30px 45px;
        height: auto;
        flex-flow:column nowrap;
    }

    #landing-right, #landing-left{
        width: 100%;
        padding: 0px;
        height: auto;
        text-align: justify;
    }

    #landing-left h1{
        font-size: 3rem;
        line-height: 3rem;
        margin-top: 20px;
    }

    #landing-left p{
        width: 100%;
    }

    #landing-right{
        order: -1;
        padding-top: 100px;
    }

    #circle{
        margin: 0px auto;
        width: 300px;
        height: 300px;
    }

    #rocketman{
        width: 0px;
        animation: fly 2s both cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    @keyframes fly {
        from{
            width: 0px;
            top: 0px;
            left: 0px;
            transform: translate(0, 0);
        }
    
        to{
            width: 500px;
            top: -290px;
            left: 50%;
            transform: translate(-50%, 50%);
        }
    }

    /* About Section */
    #about{
        padding: 50px 30px 50px 30px;
    }

    #cards-container{
        flex-flow: column nowrap;
    }

    .about-card{
        width: 100%;
        height: 360px;
        padding: 10px 20px;
        margin-bottom: 30px;
    }

    /* Services section */
    #services{
        padding: 0px 30px 50px 30px;
    }

    #directors img, #managers img{
        width: 180px;
    }

    #services .ser-container{
        padding: 50px 0px;
    }

    .ser-container #ser-cards{
        padding: 10px;
        flex-flow: column nowrap;
    }

    .cards{
        width: 100%;
        margin: 10px auto;
    }

    /* Contact Section */
    #contact{
        padding: 0px 45px;
    }

    #form-container{
        width: 100%;
        flex-flow: column nowrap;
        padding: 0px;
    }

    #form{
        width: 100%;
        margin: 0 auto;
        margin-top: 20px;
        order: 2;
    }

    #form form{
        width: 100%;
    }

    #form form textarea, #form form input{
        width: 100%;
    }


    #image {
        width: 100%;
        height: 350px;
    }

    #image figure{
        height: 200px;
        width: 80%;
        margin: 0 auto;
        top: 0px;
        left: 0px;
    }

    #image img{
        width: 300px;
        top: 10px;
        left: 50%;
        transform: translate(50% , 0%);
    }

    /* Footer */
    .startup-footer{
        padding: 45px;
        height: auto;
    }

    .footer-content{
        flex-flow: column nowrap;
    }

    .foot-left, .footer-right{
        width: 100%;
        height: auto;
        padding-bottom: 30px;
    }

    .foot-right ul{
        margin: 0px;
    }

    .foot-right {
        width: 90%;
        margin: 0 auto;
    }

    #alert{
        width: 90%;
    }
}

/* For tablets */
@media screen and (max-width: 1080px) and (min-width: 720px) {
    p,a{
        font-size: 12px;
    }

    /* header section */
    header{
        padding: 0 20px;
    }
    nav{
        height: 4.5rem;
    }

    #nav-left ul li{
        margin-left: 10px;
    }

    /* Landing page section */
    .landing-page{
        padding: 0 45px;
    }

    #landing-left{
        padding: 100px 0;
    }

    .landing-page #landing-left h1{
        font-size:3.5rem;
    }
    .landing-page #landing-left p{
        width: 90%;
    }

    #circle {
        margin-left: 50px;
        width: 320px;
        height: 320px;
    }

    #rocketman{
        width: 0px;
        animation: fly 2s both cubic-bezier(0.075, 0.82, 0.165, 1);
    }

    @keyframes fly {
        from{
            width: 0px;
            bottom: 0px;
        }
    
        to{
            width: 600px;
            bottom: 400px;
            left: -130px;
        }
    }

    /* About Section */
    #about, #services, #contact{
        padding: 50px 50px;
    }

    .about-card{
        height: 300px;
        padding: 10px 20px;
    }

     #managers img, #directors img{
        width: 100px;
    }

    /* Services Section */

    #services svg, #services img{
        width: 150px;
        height: 150px;
    }

    .ser-container{
        padding: 20px 0;
    }

    /* Contact Section */
    #form form textarea, #form form input {
        width: 100%;
    }

    #image figure{
        width: 300px;
        height: 200px;
    }

    #image img{
        width: 500px;
        top: -150px;
        left: -90px;
    }

    .startup-footer{
        padding: 0 50px;
    }

    @media screen and (max-width: 939px) and (min-width: 720px) {
        .landing-page{
            flex-flow: column nowrap;
            height: auto;
        }

        #landing-right{
            order: -1;
            padding-top: 100px;
            height: 400px;
        }

        #landing-right, #landing-left{
            width: 100%;
            text-align: center;
        }

        #landing-right #circle{
            margin: auto;
        }

        .landing-page #landing-left h1{
            font-size: 2.7rem;
        }

        #landing-left{
            padding: 50px 50px;
            padding-bottom: 0px;
            height: auto;
        }

        #rocketman{
            width: 0px;
            animation: fly 2s both cubic-bezier(0.075, 0.82, 0.165, 1);
        }
    
        @keyframes fly {
            from{
                width: 0px;
                top: 0px;
                left: 0px;
                transform: translate(0, 0);
            }
        
            to{
                width: 600px;
                top: -70px;
                left: 50%px;
                transform: translate(-50%, 0);
            }
        }
    }
}

/* For Laptops */
@media screen and (max-width: 1440px) and (min-width: 1200px){

    /* Heaer media */
    header{
        padding: 0 50px;
        position: sticky;
        top: 10px;
    }

    /* Landing media */

    .landing-page{
        padding: 0 70px;
    }

    #circle{
        margin-left: 50px;
        width: 400px;
        height: 400px;
    }

    #rocketman{
        width: 0px;
        animation: fly 2s both cubic-bezier(0.075, 0.82, 0.165, 1);
    }
    
    @keyframes fly {
        from{
            width: 0px;
            bottom: 0px;
        }
    
        to{
            width: 700px;
            bottom: 350px;
            left: -140px;
        }
    }

    /* About media */

    #about{
        padding: 50px 100px;
    }

    #services {
        padding: 50px 70px;
    }

    .about-card{
        height: 385px;
    }

    @media screen and (max-width: 1420px) and (min-width: 1200px){

        #mission{
            transition: height 1s ease;
        }

        #mission:hover{
            height: 1120px;
        }

        .about-card{
            padding: 20px 40px;
        }

        #directors img, #managers img{
            width: 200px;
        }
    }

    /* Contact media */

    #contact{
        padding: 50px 70px;
    }

    /* Footer media */

    .startup-footer{
        padding: 100px 100px;
    }

    .foot-left{
        width: 30%;
    }

    .foot-right{
        width: 60%;
    }

    .foot-right ul{
        margin-left: 70px;
    }

    @media screen and (max-width: 1380px) and (min-width: 1200px) {
        #image img {
            width: 650px;
            top: -300px;
        }

        #image figure{
            width: 400px;
            height: 300px;
        }

        .startup-footer{
            padding: 100px 90px;
        }
    }
    
}

